<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.fiap.intellibe">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IntelliBe"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CadastrarFormulario"
            android:exported="true" />
        <activity
            android:name=".CadastroNovo"
            android:exported="true" />
        <activity
            android:name=".TelaRespostaActivity"
            android:exported="true" />
        <activity
            android:name=".EnviarListaFormulario"
            android:exported="true" />
        <activity
            android:name=".activity.RecyclerViewFormulario"
            android:exported="true" />
        <activity
            android:name=".EnviarDashBoard"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDVff6FC6jjSlJiS3xY-rBWJmOA7CWMhQU" />
    </application>

</manifest>